#sobre-nos-painel {
	margin-top: 20px;
}

.titulo-depoimentos {
	background-color: #0275d8;
	color: white;
	font-size: 24px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 0;

}

.contato-tipo-pessoa, .select-solicitacao {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}

.contato-tipo-pessoa .radio:first-child {
	margin-top: 0;
}